<section class="container text-center" id="login">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="card mt-5">
        <div class="card-header">
          Registro de usuario
        </div>
        <div class="card-body">
          <div class="input-group">
            <div class="input-group-text"><i class="fi fi-sr-envelope"></i></div>
            <input (click)="quitError()" [(ngModel)]="email" class="form-control" id="input_email" name="input_email"
                   placeholder="Ingrese su correo" type="email"/>
          </div>
          <div class="input-group mt-3">
            <div class="input-group-text"><i class="fi fi-sr-key"></i></div>
            <input (click)="quitError()" [(ngModel)]="pass" class="form-control" id="input_pass"
                   name="input_pass" placeholder="Ingrese su contraseña" type="password"/>
          </div>
        </div>
        <div *ngIf="showError" class="alert alert-danger" role="alert"><span
          class="text-danger">Error de registro.</span></div>
        <div class="card-footer">
          <button (click)="register()" class="btn btn-secondary float-end">Registrarse</button>
          <div *ngIf="showLoading" class="spinner-border text-primary float-end"></div>
        </div>
      </div>
      <a href="/login">Regresar al inicio de sesión</a>
    </div>
    <div class="col-lg-3"></div>
  </div>
</section>
