<div class="container">
  <div class="row">
    <div class="col">
      <div class="col"></div>
      <div class="col">
        <div class="card mt-5">
          <div class="card-header">Agregar pregunta</div>
          <div class="card-body text-center">
            <select [(ngModel)]="categoryNew" class="form-select">
              <option value="General">General</option>
              <option value="Programación">Programación</option>
              <option value="Redes">Redes</option>
            </select>

            <input [(ngModel)]="newP" class="form-control mt-2" id="textP" name="textP" placeholder="Escribe tu pregunta"
                   type="text"/>
            <button (click)="crearPregunta()" class="btn btn-outline-primary btn-sm mt-2">
              <i class="fi fi-rr-add"></i>
              Agregar
            </button>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-dark table-hover mt-5">
        <thead>
        <tr class="text-center">
          <th>#</th>
          <th>Tema</th>
          <th>Usuario</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let question of questionsList; let i=index">
          <td class="text-center">{{i + 1}}</td>
          <td>
            <p id="q{{i}}">{{question['fields']['pregunta'].stringValue}}</p>
            <select [(ngModel)]="categoryEdit" class="form-select bg-dark text-white" id="editSelection{{i}}"
                    style="display: none">
              <option value="General">General</option>
              <option value="Programación">Programación</option>
              <option value="Redes">Redes</option>
            </select>
          </td>
          <td>{{question['fields']['correo'].stringValue}}</td>
          <td class="text-center">
            <button class="btn btn-outline-primary"><i class="fi fi-rs-eye"></i></button>
            &nbsp;
            <!-- Button trigger modal -->
            <button (click)="getPregunta(question)" class="btn btn-outline-secondary" data-bs-target="#exampleModal"
                    data-bs-toggle="modal"
                    type="button">
              <i class="fi fi-rr-edit"></i>
            </button>
            &nbsp;
            <button (click)="eliminarPregunta(question['name'].split('/').pop())" class="btn btn-outline-danger"><i
              class="fi fi-br-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar pregunta</h1>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <input [(ngModel)]="editP" class="form-control" id="pregunta" name="pregunta" type="text"/>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancelar</button>
        <button (click)="modificarPregunta()" class="btn btn-primary" data-bs-dismiss="modal" type="button">Guardar
        </button>
      </div>
    </div>
  </div>
</div>
